.hidden {
    display: none;
}

html, body, .main-section, .main-section > div {
    height: 100%;
}

body {
    font-size: 18px;
}

.row {
    margin: 0;
}

.main-section {
    display: flex;
    flex-flow: row nowrap;
}

.main-section > div {
    width: 50%;
}

.main-section-left, .main-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.main-section-left {
    min-width: 500px;
}

.main-content {
    box-sizing: border-box;
    width: 75%;
}

#upload-form {
    width: 100%;
}

.form-section {
    margin-bottom: 25px;
}

.progress {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.upload-field {
    height: 250px;
    width:  100%;
    background-color: rgba(255, 255, 255, .22);
    background-size: 100px 100px;
    background-position: 50% 50%;
    background-image: url(../img/upload-icon.png);
    background-repeat: no-repeat;
    border-radius: 5px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input[name='file'] {
    width: 0;
    height: 0;
}

.submit-section {
    text-align: center;
}