html, body, .main-section, .main-section > div {
    height:         100%;
}

.main-section {
    display:        flex;
    flex-flow:      row nowrap;
}

.main-section > div {
    width:           50%;
}

.row {
    margin:         0;
}

h1, h2 {
    font-weight:    300;
}
.progress {
    width:          50%;
    margin-left:    auto;
    margin-right:   auto;
}